.top_navbar {
    font-size: 0.7rem;
    margin: 0 0.2rem;
}

.top_left_nav .col {
    padding: 0.2rem;
    border-right: 1px solid #ccc;
}

.top_left_nav .col:last-child {
    border-right: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}